@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "UhBeeSe_hyun";
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background: rgba(255, 246, 214, 1);

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* --------------------------------수빈 css-------------------------------- */

/* OwnerLogin */

.OwnerLogin {
  display: grid;
}

.OwnerLogin .banner {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  color: rgba(240, 205, 186, 1);
  text-shadow: -2px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255),
    2px 0 rgb(255, 255, 255), 0 -2px rgb(255, 255, 255);
  line-height: 0%;
}

.OwnerLogin .me {
  padding-top: 100px;
  font-size: 50px;
  margin: 0;
  text-align: start;
  transform: rotate(-9deg);
}
.OwnerLogin .pencil1 {
  width: 180px;
  position: absolute;
  left: -30px;
  top: 20px;
}
.OwnerLogin .mbti {
  display: flex;
  font-size: 80px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.OwnerLogin .m {
  color: rgba(239, 194, 197, 1);
}

.OwnerLogin .b {
  color: rgba(191, 205, 216, 1);
}

.OwnerLogin .t {
  color: rgba(192, 216, 203, 1);
}

.OwnerLogin .i {
  color: rgba(255, 232, 151, 1);
}

.OwnerLogin .r {
  font-size: 40px;
  transform: rotate(13deg);
  padding-top: 90px;
  margin: 0;
  text-align: start;
}
.OwnerLogin .pencil2 {
  position: absolute;
  width: 350px;
  top: 190px;
}

.OwnerLogin .guess {
  margin: 0;
  color: rgba(249, 153, 160, 1);
  font-size: 60px;
}

/* --------------------------------수빈 css-------------------------------- */
